<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PresDense</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    <script src="/lib/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js" ></script>

    <script src="/reactComponents/AdminBadge.js" type="text/babel"></script>
    <script src="/reactComponents/PlatformTableRow.js" type="text/babel"></script>
    <script src="/reactComponents/ProfilePlatformTable.js" type="text/babel"></script>
    <script src="/reactComponents/Title.js" type="text/babel"></script>
    <script src="/reactComponents/Loading.js" type="text/babel"></script>
    <script src="/reactComponents/NotFound.js" type="text/babel"></script>
    <script src="/reactComponents/Profile.js" type="text/babel"></script>
    <script src="/reactComponents/New.js" type="text/babel"></script>
    <script src="/reactComponents/LinkButton.js" type="text/babel"></script>
    <script src="/reactComponents/Index.js" type="text/babel"></script>
    <script src="/reactComponents/Search.js" type="text/babel"></script>
    <script src="/reactComponents/SearchResultTable.js" type="text/babel"></script>
    <script src="/reactComponents/SearchResultTableRow.js" type="text/babel"></script>
    <script src="/reactComponents/App.js" type="text/babel"></script>
</head>
<body>
    <div class="root">
    </div>
</body>
</html>
