<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PresDense</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    <script src="/lib/jquery-3.3.1.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
    <div class="container">
        <h1><span id="title">PresDense</span></h1>
        <h3 id="err"></h3>
        <input type="text" placeholder="Profile picture URL" id="picurl"/>
        <input type="text" placeholder="Name" id="name"/>
        <textarea placeholder="Bio" id="bio"></textarea>
        <input type="text" placeholder="GitHub" id="github"/>
        <input type="text" placeholder="Discord" id="discord"/>
        <input type="text" placeholder="Snapchat" id="snapchat"/>
        <input type="text" placeholder="Instagram" id="instagram"/>
        <input type="text" placeholder="Reddit" id="reddit"/>
        <input type="text" placeholder="Steam" id="steam"/>
        <input type="text" placeholder="Twitter" id="twitter"/>
        <input type="text" placeholder="Facebook" id="facebook"/>
        <br><button id="submit">Submit.</button>
    </div>
</body>
</html>