<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PresDense</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    <script src="/lib/jquery-3.3.1.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
    <div class="container">
        <h1><span id="title">PresDense</span></h1>
        <input type="text" placeholder="What name?" id="searchValue" />
        <br><button style="margin-top: 20px;" id="submitSearch">Search <img src="/res/searchIcon.png" style="height: 30px; width: 30px; padding: 5px;"/></button>
        <br><br><div id="results"></div>
    </div>
</body>
</html>
